body{
    font-family: 'Roboto Condensed', sans-serif;
}
#mcq{
    font-family: 'Roboto Condensed', sans-serif;
}
#nav{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(33, 37, 41);
}
#heading{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
#name{
    color: #5995fd;
  }
.jum{
    background-color: rgb(33, 37, 41);
}